@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Ubuntu+Condensed&family=Unica+One&display=swap);

body {
    margin: 0;
}

.home {
    background-color: #D4E3E1;
    
    font-family: "Roboto Condensed", sans-serif;
    height: 100vh;

    overflow:hidden;
}

.home header {
    position: relative;
    left: 5%;
}

.home main {
    position:absolute;
    left: 16%;
}

.home h1 {
    color: #BD6838;

    font-family: "Unica One", sans-serif;
    font-weight: 400;
    font-size: 45px;

    margin-left: 2%;
}

.home h2 {
    color: #BD6838;

    font-size: 60px;
    font-weight: 300;

    margin-bottom: -2%;
}

.home h3 {
    color: #6D716E;

    font-size: 30px;
    font-weight: 300;
}

.home a {
    background-color: #EDFFFC;
}

.home #logo {
    position: absolute;
    bottom: -12%;
    left: -3%;
}

.home #playlistGirl {
    float: right;

    position: absolute;
    left: 110%;
    bottom: -20%;
}


.upload {
    background-color: #BD6838;
    
    font-family: "Roboto Condensed", sans-serif;
    height: 100vh;

    overflow:hidden;
}

.upload header {
    position: relative;
    left: 5%;
}

.upload main {
    position:absolute;
    top: 30%;
    left: 50%;
}

.upload h1 {
    color: #EDFFFC;

    font-family: "Unica One", sans-serif;
    font-weight: 400;
    font-size: 45px;

    margin-left: 2%;
}

.upload h2 {
    color: #C4ECE5;

    font-size: 60px;
    font-weight: 300;

    margin-bottom: 6%;
}

.btn {
    border: none;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 9%;
    padding-right: 9%;

    color: #6D716E;
    font-size: 25px;
    font-family: "Ubuntu Condensed", sans-serif;

    box-shadow: 4px 4px 15px 1px #6D716E45;
    text-decoration: none;
}

.btn:hover {
    transform: translateY(10px);
    box-shadow: 8px 8px 15px 5px #6D716E45;
    transition: ease;
    /* border: #6D716E45 1px solid; */
}

#upload-btn {
    background-color: #CCE4E0;
}

#upload-btn:hover {
    cursor: pointer;
}

.upload input[type="file"] {
    display: none;
}

.upload #logo {
    position: absolute;
    bottom: -12%;
    left: -3%;
}

.upload #headphones {
    float: left;

    position: absolute;
    top: -30%;
    right: 110%;
}

.playlist {
    background-color: #A9C0BD;
    
    font-family: "Roboto Condensed", sans-serif;
    height: 100vh;

    overflow:hidden;
}

.playlist header {
    position: relative;
    left: 5%;
}

.playlist h1 {
    color: #BD6838;

    font-family: "Unica One", sans-serif;
    font-weight: 400;
    font-size: 45px;

    margin-left: 2%;
}

.playlist h2 {
    color: #BD6838;

    font-size: 60px;
    font-weight: 300;
}

.playlist #logo {
    position: absolute;
    bottom: -12%;
    left: -3%;
}