body {
    background-color: #A9C0BD;
    
    font-family: "Roboto Condensed", sans-serif;

    overflow:hidden;
}

header {
    position: relative;
    left: 5%;
}

main {
    position:absolute;
    left: 7%;
}

h1 {
    color: #BD6838;

    font-family: "Unica One", sans-serif;
    font-weight: 400;
    font-size: 45px;

    margin-left: 2%;
}

h2 {
    color: #BD6838;

    font-size: 60px;
    font-weight: 300;
}

#logo {
    position: absolute;
    bottom: -12%;
    left: -3%;
}